/* CSS Général */
a {
    text-decoration: none;
    color: #141414
}

/* CSS pour les <article> de la page game */
.product {
    background-color: #e1e1e1;
    display:inline-block;
    margin-right:5px;
}
.product_price {
    position: relative;
    left:95px;
    bottom:3px;
    border: solid black 1px;
    border-radius: 4px;
    padding:2px 6px;
    background-color: #d5d5d5;
    color: #686868;
    font-size: 10px;
}
article > .product_img {
    width:196px;
    height:110px;
}

article:hover > span {
   background: linear-gradient(to bottom,#9fbf00,#80ab00);
    color:#fff
}

/* CSS des jeux de la page d'accueil */

#game_wrapper{
    margin:0 auto;
    width:620px;
}

.big > .product {
}

.big > .product > img {
    width:400px;
    height:300px;
}

.medium > .product > img {
    width:200px;
    height:300px;
}

.small > .product > img {
    width:150px;
    height:100px;
}

.medium > .product > h3, .big > .product > h3, .small > .product > h3 {
    position:relative;
    bottom:70px;
    padding: 5px 0 5px 10px;
    background-color: rgba(255, 255, 255, 0.43);
}

.small > .product > h3 {
    font-size: 10px;
    bottom:50px;
}