/* CSS Général */
a {
    text-decoration: none;
    color: #141414
}

body {
    background: linear-gradient(#608ba8, #dcdcdc);
    font-family: 'Roboto Condensed', sans-serif;
}

#navibarre > ul {
    position: relative;
    padding: 0;
    height: 65px;
    margin-top: 0px;
}

#navibarre > ul >li {
    list-style: none;
    display:inline-block;
    border-left: solid rgba(128, 128, 128, 0.50) 2px;
    border-right: solid rgba(255, 255, 255, 0.50) 2px;
    padding: 5px 20px;
    float:left;
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 55px;
}

/* CSS de la navigation */

.logo{
    width:40px;
}

#connectsubmit {
    position:relative;
    width:80px;
    left:180px;
    top:-40px;
}

nav {
    background-color: #e4e4e4;
    box-shadow: 0px 6px 15px 0px rgba(0,0,0,0.75);
}

#navibarre > ul > li {
    width:200px;
}

#navibarre > ul > li#login_li{
    width:298px;
    padding-bottom: 5px;
    border-right:none;
}

#navibarre > ul > li#logo {
    width:3%;
    padding-left: 13px;
    width:40px;
}

#navibarre > ul > li#cart {
    box-sizing: border-box;
    height:65px;
    padding-top:22px;
}

#logo:hover{
    background-color: #ba0101;
    transition: background-color 300ms linear;
}

li:hover{
    background-color: #0eb5f7;
    transition: background-color 300ms linear;
}

li:hover a{
    color:white;
}

#cart_items {
    border-radius: 50%;
    background-color: red;
    color: white;
    font-size: 0.65em;
    padding:5px;
    width: 6px;
    position:relative;
    top:-35px;
    right:-20px;
}

#cart_icon {
    position: relative;
    top:-18px;
    left:130px;
    color: #656565;
    width:20px;
}
.fa-facebook-official {
    color : #0c2683;
}

.fa-twitter {
    color : #00c6ff;
}

.fa-instagram{
    color:#517fa4;
}

/* CSS pour les <article> de la page game */
.product, .game_product {
    display:inline-block;
    margin-right:5px;
    margin-bottom: 5px;
}

.game_product{
    background: url("../img/platform.png");
    width:215px;
    height:150px;
    margin-right: 20px;
}

.game_product > h3 {
    margin-bottom: 0;
    margin-top:5px;
    padding-left:10px;
}

.product_price {
    position: relative;
    left:175px;
    bottom:3px;
    border: solid black 1px;
    border-radius: 4px;
    padding:2px 6px;
    background-color: #d5d5d5;
    color: #686868;
    font-size: 10px;
}
article > .product_img {
    width:215px;
    height:100px;
    background-color: #ffffff
}

.product_platform {
    width:200px;
}

article:hover > span {
    background: linear-gradient(to bottom,#9fbf00,#80ab00);
    color:#fff
}

/* CSS des jeux de la page d'accueil */

#game_wrapper, #content_wrapper{
    margin-left:80px;
    width:1200px;
}

.big > .product > img {
    width:720px;
    height:450px;
}

.medium > .product > img {
    width:450px;
    height:450px;
}

.small > .product > img {
    width:231px;
    height:140px;
}

.medium > .product > h3, .big > .product > h3, .small > .product > h3 {
    position:absolute;
    top:420px;
    padding: 5px 0 5px 10px;
    background-color: rgba(255, 255, 255, 0.43);
    font-size: 30px;
    box-shadow: 2px 2px 20px 3px rgba(255, 255, 255, 0.30);
}

.big > .product > h3{
    width:710px;
}

.medium > .product > h3{
    width:440px;
}

.small > .product > h3 {
    font-size: 15px;
    top:610px;
    width:221px;
}

/* CSS de la page d'inscription */

form#inscription_form{
    width:300px;
    margin:0 auto;
}

input#pseudo{
    width:213px;
}

input#pwrd{
    width: 175px;
}

input#name{
    width:229px;
}

input#f_name{
    width:165pX;
}

input#email{
    width:225px;
}

#user_info > input[type=submit]{
    margin-top:20px;
    margin-left:100px;
}

/* CSS SECTION FOOTER */

footer {
    text-align: center;
}

.footerTop {
    background: #262626;
    margin-top: 40px;
    height: 60px;
}

.footerTop ul {
    display: inline-block;
    vertical-align: top;
    list-style: none;
    margin: 0;
}

.footerTop ul li {
    display: inline-block;
}

.footerTop ul li a {
    color: #696969;
}

.footerMidle {
    background: #262626;
    border-top: 1px solid #373737;
}

.footerMidle ul {
    display: inline-block;
    vertical-align: top;
    list-style: none;
    margin: 0;
}

.footerMidle ul li a {
    color: #696969;
}

.footerButtons {
    background: #262626;
}

.footerButtons ul li {
    display: inline-block;
}

.footerButtons ul li a {
    color: #696969;
}

.footerButtons ul li a img {
    width: 20px;
}

.footerBottom {
    background: #1d1d1d;
}

.footerBottom p {
    margin: 0;
    color: #696969;
    height: 50px;
}