/* CSS Général */
a {
    text-decoration: none;
    color: #141414
}

body {
    background: linear-gradient(#202C34, #7A7A7A);
    font-family: 'Roboto Condensed', sans-serif;
}



/* CSS de la navigation */
.logo{
    width:40px;
}

.site-header {
    text-align: center;
}

.site-main-nav > ul {
    position: relative;
    padding: 0;
    width: 100%;
    height: 65px;
    margin-top: 0px;
}

.site-main-nav > ul > li {
    list-style: none;
    display:inline-block;
    vertical-align: top;
    padding: 5px 20px;
    width:200px;
    height: 55px;
    border-left: solid rgba(128, 128, 128, 0.50) 2px;
    border-right: solid #ECECEC 2px;
}

.site-main-nav > ul > li > a {
    display: block;
    padding-top: 17px;
    width:200px;
    height: 55px;
}

#connectsubmit {
    position:relative;
    width:80px;
    left:180px;
    top:-40px;
}

.site-main-nav, .site-search-nav {
    background-color: #e4e4e4;
    box-shadow: 0px 6px 15px 0px rgba(0,0,0,0.75);
}

.site-main-nav > ul > li #login_li{
    width:298px;
    padding-bottom: 5px;
    border-right:none;
}

.site-main-nav > ul > li #logo {
    width:3%;
    padding-left: 13px;
    width:40px;
}

.site-main-nav > ul > li #cart {
    box-sizing: border-box;
    height:65px;
    padding-top:22px;
}

#logo:hover {
    background-color: #ba0101;
    transition: background-color 300ms linear;
}

.site-main-nav ul li:hover {
    background-color: #0eb5f7;
    transition: background-color 300ms linear;
}

.site-main-nav ul li:hover a {
    color:white;
}

#cart_items {
    border-radius: 50%;
    background-color: red;
    color: white;
    font-size: 0.65em;
    padding:5px;
    width: 6px;
    position:relative;
    top:-20px;
    right:-0px;
}

#cart_icon {
    position: relative;
    top:-60px;
    left:75px;
    color: #656565;
    width:20px;
}

/* CSS search Nav de la page game */

.site-search-nav {
    text-align: center;
    margin: 30px auto 20px auto;
    height: 40px;
}

.site-search-nav ul {
    padding: 0;
    width: 100%;
}

.site-search-nav ul li {
    display: inline-block;
    width: 180px;
    height: 40px;
    line-height: 40px;
}

.site-search-nav ul li a {
    display: block;
    width: 180px;
    height: 40px;
}

.site-search-nav ul li:hover {
    background-color: #0eb5f7;
    transition: background-color 300ms linear;
}

.site-search-nav ul li:hover a {
    color:white;
}

/* CSS pour les <article> de la page game */
.product, .game_product {
    display:inline-block;
}

.game_product{
    background: url("../img/platform.png");
    width:215px;
    height:150px;
    margin: 10px;
}

.game_product > h3 {
    margin-bottom: 0;
    margin-top:5px;
    padding-left:10px;
}

.product_price {
    position: relative;
    left:180px;
    bottom:10px;
    border: solid black 1px;
    border-radius: 4px;
    padding:2px 6px;
    background-color: #d5d5d5;
    color: #686868;
    font-size: 12px;
}

article > .product_img {
    width:215px;
    height:100px;
    background-color: #ffffff
}

.product_platform {
    width:200px;
}

article:hover > span {
    background: linear-gradient(to bottom,#9fbf00,#80ab00);
    color:#fff
}

/* CSS des jeux de la page d'accueil */

#game_wrapper, #content_wrapper{
    margin: 0 auto;
    width:1200px;
}

.big > .product > img {
    width:720px;
    height:450px;
}

.medium > .product > img {
    width:450px;
    height:450px;
}

.small > .product > img {
    width:231px;
    height:140px;
}

.medium > .product > h3, .big > .product > h3, .small > .product > h3 {
    position:absolute;
    top:420px;
    padding: 5px 0 5px 10px;
    background-color: rgba(255, 255, 255, 0.43);
    font-size: 30px;
    box-shadow: 2px 2px 20px 3px rgba(255, 255, 255, 0.30);
}

.big > .product > h3{
    width:710px;
}

.medium > .product > h3{
    width:440px;
}

.small > .product > h3 {
    font-size: 15px;
    top:610px;
    width:221px;
}

/* CSS de la page d'inscription */

form#inscription_form{
    width:300px;
    margin:0 auto;
}

input#pseudo{
    width:213px;
}

input#pwrd{
    width: 176px;
}
input#verif_pwrd{
    width:199px;
}

input#name{
    width:229px;
}

input#f_name{
    width:165pX;
}

input#email{
    width:224px;
}

#error_msg{
    color:white;
    background-color: red;
    text-align: center;
    width:auto;
    height:auto;
}

fieldset#user_info > input[type=submit]{
    transition: background-color 300ms linear;
    background-color: #707070;
    height:30px;
    border:none;
    width:100%;
    margin-top:15px;
}
fieldset#user_info > input[type=submit]:hover {
    background-color: #0eb5f7;
    transition: background-color 300ms linear;
}

fieldset{
    border:none;
}

#login_info{
    border-bottom: white solid 1px;
    margin-bottom: 10px;

}
#login_info > legend{
    padding-top:5px;
}
#inscription_form{
    background-color: #c6d3d0;
    margin-bottom:10px;
    border:solid #181818 1px;
}
/* CSS PAGE GAME DETAILS */

.game-detail-article {
    height: 100%;
    padding: 50px;
    background: url("../img/platform.png");
}

.game-detail-img {
    width: 350px;
}

.add-cart {
    border: solid black 1px;
    border-radius: 4px;
    padding:2px 6px;
    background-color: #d5d5d5;
    color: #686868;
    width: 115px;
}

.add-cart:hover {
    background: linear-gradient(to bottom,#9fbf00,#80ab00);
    color:#fff
}

/* CSS SECTION CART */

.cart-page-section {
    position: relative;
    height: 660px;
    padding: 50px;
    background: url("../img/platform.png");
    clear: both;
} 

table {
    border: none;
    border-collapse: separate;
    border-spacing: 5px;
}

th,td {
    padding: 5px;
    border: 1px solid #373737;
    color: #333;
    text-align: center;
    letter-spacing: 1px;
    font-weight: 300;
    background-color: #d5d5d5;
}

.remove-button {
    border: solid black 1px;
    border-radius: 4px;
    background-color: #d5d5d5;
    color: #686868;
}

.remove-button a {
    padding-right: 5px;
}

.remove-button:hover {
    background: linear-gradient(to bottom,#9fbf00,#80ab00);
    color:#fff
}

.promo {
    float: right;
    padding-left: 125px;
}

#promo-link {
    display: block;
    position: absolute;
    top: 331px;
    right: 252px;
    width: 190px;
    height: 44px;
}

/* CSS SECTION FOOTER */

footer {
    text-align: center;
}

.footerTop {
    background: #262626;
    margin-top: 40px;
    height: 60px;
}

.footerTop ul {
    display: inline-block;
    vertical-align: top;
    list-style: none;
    margin: 22px 0 0 0;
}

.footerTop ul li {
    display: inline-block;
}

.footerTop ul li a {
    color: #909090;
    font-size: 16px;
    font-weight: bold;
    margin: 0 20px 0 20px;
}

.footerMidle {
    background: #262626;
    border-top: 1px solid #373737;
}

.footerMidle ul {
    display: inline-block;
    vertical-align: top;
    list-style: none;
    margin: 10px;
}

.footerMidle ul li a {
    color: #696969;
}

.footerButtons {
    background: #262626;
}

.footerButtons ul li {
    display: inline-block;
    margin: 5px 20px 5px 20px;
}

.footerButtons ul li a {
    color: #696969;
    margin: auto 10px auto 10px;
    vertical-align: top;
}

.footerButtons ul li a img {
    width: 20px;
    padding-right: 10px;
}

.footerBottom {
    background: #1d1d1d;
    height: 50px;
}

.footerBottom p {
    margin: 0;
    color: #696969;
}